[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain = ">=0.3.0"
pandas = "*"
langchain-openai = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.11"
